
/* Variables para colores */
:root {
  --main-color: #007bff;
  --hover-color: #0056b3;
  --footer-bg: #333;
  --footer-hover: #f39c12;
  --modal-bg: rgba(0, 0, 0, 0.8);
  --modal-close-color: white;
}

/* Estilos básicos */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para la pantalla de carga */
#pantalla-carga {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c2e38;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  color: white;
}

.logo-carga img {
  width: 150px;
  animation: movimiento 2s infinite ease-in-out;
}

@keyframes movimiento {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

.barra-carga {
  width: 80%;
  background-color: #e8e6e6;
  height: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.progreso {
  width: 0;
  height: 100%;
  background-color: #2e7287;
  border-radius: 10px;
  transition: width 0.4s ease;
}

#porcentaje-carga {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  background-color:#3cb8f3 ;
  height: 80px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ddd;
}

.logo img {
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 120px;
  height: auto;
}

.logo {
  transition: transform 0.3s ease; /* Transición suave */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.logo:hover {
  transform: scale(1.1); /* Escala el logo al 110% al pasar el mouse */
}

.logo.clicked {
  transform: scale(1.5); /* Escala el logo al 150% al hacer clic */
}

/* Menú */
.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  color: brown;
  text-decoration-thickness: none;
  padding: 10px 15px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.menu li a:hover {
  text-decoration: underline;
}

/* Navegación */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  list-style: none;
  padding: 10px 20px;
}

.dropdown-content li a {
  color: #5a5a5a;
  font-size: 14px;
}

.dropdown-content li a:hover {
  background-color: #f1f1f1;
  color: #ff6f61;
}




/* Secciones */
.seccion {
  padding: 2rem;
  display: none;
}

.seccion:first-child {
  display: block;
}

/* Estilos del carrusel */
.header-carousel {
  position: relative;
  width: 100vw;
  height: 50vw;
  overflow: hidden;
  margin: 0 auto;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-slide {
  min-width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Categorías */
.categorias {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.categoria {
  width: 220px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.categoria img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.categoria:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

/* Productos */
.productos {
  margin-top: 20px;
}

.productos .producto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.productos img {
  width: 100px;
  height: auto;
}

.producto {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detalles {
  margin-top: auto;
}


/* Galería */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.gallery-item {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
/* Estilos para la galería */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas en la galería */
  gap: 20px;
}

.gallery-item {
  width: 100%;
  cursor: pointer;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
/* Estilo para los botones */
button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Color de fondo verde */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
  margin: 10px auto;
  display: block;
  text-align: center;
}

button:hover {
  background-color: #45a049; /* Color al pasar el mouse */
}

/* Personalización para botones "Mostrar más" y "Mostrar menos" */
#showMoreBtn, #showLessBtn {
  width: 200px; /* Ancho fijo para un mejor diseño */
}

/* Alineación de los botones en dispositivos móviles */
@media (max-width: 768px) {
  button {
    width: 100%; /* Botón ocupa el 100% del ancho en móviles */
    font-size: 14px; /* Tamaño de fuente más pequeño en pantallas pequeñas */
  }
}

/* Footer */
.footer {
  background-color: var(--footer-bg);
  color: white;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: var(--footer-hover);
}

.footer-icons i {
  font-size: 24px;
  color: white;
  transition: color 0.3s ease;
}

.footer-icons i:hover {
  color: var(--footer-hover);
}

/* Responsive */
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}

/* Modal específico de historia */
.modal-historia {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white(--modal-bg); /* Fondo oscuro */
}

.modal-historia-content {
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 60%;
  max-width: 700px;
  text-align: center;
}
.modal-historia .close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #aaa;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.modal-historia .close:hover,
.modal-historia .close:focus {
  color: black;
}
